.quote {
    color: #fff;
    font-family: "Helvetica Neue",Arial,sans-serif;
    text-transform: uppercase;
    padding: 17px
}

.quote h1 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6rem;

}

.quote p {
    font-size: 0.9rem;
    font-weight: 700;
    text-align: right;
}