.NavbarItems {
    background-color: #fff;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 0 4rem
}

.navbar-logo {
    background-color: #fff;
    cursor: pointer;
    width: 350px;
    margin-left: 2rem;
}

.navbar-logo img{
    max-width: 100%;
    height: auto;
}

.fa-react {
    font-size: 1.6rem;
    margin-left: 0.5rem
}

.nav-menu {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.active {
    background-repeat: repeat-x;
    background-image: linear-gradient(to right,currentColor 100%,currentColor 0);
    background-size: 1px 1px;
    background-position: 0 calc(100% - 0.1em);
    color: var(--primary-color);
    padding-bottom: 1rem;
}

.nav-links {
    background-color: #fff;
    color: var(--primary);
    text-decoration: none;
    margin-left: 0.75rem;
    letter-spacing: 0.1rem;
}

.fa-bars {
    color: #fff;
}

.menu-icon {
    display: none
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: rgba(106,218,255,1);
}

.btn--primary {
    background-color: var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
}

.btn--large {
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
}

.btn--email {
    color: var(--tertiary-color);
    background-color: var(--fourth-color);
    border-color: var(--tertiary-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 0%;
    font-weight: 700;
    display: block;
    position: relative;
    padding: .8rem 1.336rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition-duration: 0.4s;
    cursor: pointer;
    letter-spacing: 0.05em;
    line-height: normal;
}

.btn--email:hover {
    background-color: var(--tertiary-color);
    color: #fff;
    float: right;
}